.containerAbout {
  display: flex;
  flex-direction: column;
}

.subtitleAbout {
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(21, 21, 21);
}

.aboutParag {
  color: rgb(227, 227, 227);
  margin: auto 10rem;
}
.listTech {
  color: rgb(227, 227, 227);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.linkTechnologies {
  color: white;
  text-decoration: none;
}
