#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ad1a18;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.pokemonForm {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #e4e4e4;
  width: 50%;
  padding: 1rem;
  border-radius: 20px;
  border: 3px #000000 outset;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.labelForm {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.inputAndBottonForm {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gridCardsPokemon {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  gap: 50px 150px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  border: black 2px solid;
  border-radius: 10px;
  width: 70%;
  text-align: center;
}

.formBotton {
  border-radius: 50px;
  background-color: #3c3b3b;
  color: white;
}

.gridCardsTeamPokemon {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 50px 60px;
  margin: 3rem 0;
  justify-content: center;
}

.teamPokemonCard {
  background-color: #ededed;
  border: 2px solid #3c3b3b;
  border-radius: 10%;
  padding: 1rem;
}

ul li button {
  border-radius: 5px;
}

ul li button:hover {
  background-color: rgb(195, 195, 195);
  cursor: pointer;
}

.ulTeamPokemonCard {
  display: flex;
  flex-direction: column;
}

.cardButton {
  margin-left: 9rem;
}

.nomePokemonCard {
  background-color: #d5d4d4;
  border: 1px solid black;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  width: 10rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.expand {
  height: 10px;
  width: 8px;
}

.cardIsOpen {
  background-color: #ededed;
  width: 10rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.25rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.bottomPokemonCardButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containerPokemonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.imgDetails {
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
}

.listPokemonDetails {
  border: 1px solid black;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 15px 15px 15px 3px rgba(0, 0, 0, 0.2);
}

.backButton {
  text-decoration: none;
  display: flex;
  color: white;
  background-color: #383838;
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 4rem;
  margin: 0.5rem;
  font-size: 10px;
  justify-content: center;
}

.backButton:hover {
  background-color: rgb(40, 40, 40);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  background-color: #a0a0a0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}
.skeleton-name {
  height: 18px;
  width: 110px;
}
.skeleton-button {
  height: 21px;
  width: 20px;
}

.toast {
  width: 14rem;
  font-size: 12px;
}

.pkTeamFallBack {
  text-align: center;
  width: 50%;
  margin: 5rem auto;
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 10px;
}
