nav a img {
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 14px;
  background: #3c3b3b;
  color: white;
  gap: 5rem;
}

.menuHeader {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.navBarDiv {
  display: flex;
  gap: 5rem;
}

ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

ul li:hover {
  background-color: rgb(70, 69, 69);
}

h1 {
  text-align: center;
  margin: 0.8rem 0;
  font-size: 1.5rem;
}
.title {
  background-color: #b3a125;
  border: 3px #000000 groove;
  width: 100%;
}
